.MainScroll__Content 
  .MainScroll__Content__Upper ABOUT
  .MainScroll__Content__Bottom
.MainScroll__Content
  .MainScroll__Content__Upper WORKS
  .MainScroll__Content__Bottom--scrollable
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
  .MainScroll__Content__Upper MUSIC
  .MainScroll__Content__Bottom--scrollable
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
    =image_tag src="postcard.jpg", class: 'img', height: '220px', width: '320px'
.MainScroll__Content
  .MainScroll__Content__Upper CONTACT
  .MainScroll__Content__Bottom
.MainScroll__Content
  .MainScroll__Content__Upper BLOG
  .MainScroll__Content__Bottom
.MainScroll__Content
  .MainScroll__Content__Upper SNS
  .MainScroll__Content__Bottom
