.SideBar__Upper
  .SideBar__Upper__URL www.Tiima
  .SideBar__Upper__Title Tiima's Progress
%ul.SideBar__Lists
  %ls.SideBar__Lists__List ABOUT
  %ls.SideBar__Lists__List WORKS
  %ls.SideBar__Lists__List MUSIC
  %ls.SideBar__Lists__List CONTACT
  %ls.SideBar__Lists__List BLOG
  %ls.SideBar__Lists__List SNS